In [40]:
import findspark
findspark.init()

In [1]:
#pip install --upgrade gensim
import gensim
import i18n
from pyspark.sql.functions import lit
from googletrans import Translator
from gensim import models
from gensim.models import Word2Vec, KeyedVectors

In [114]:
from pyspark.sql import SparkSession
from pyspark.sql.types import FloatType, StringType
from pyspark.sql import Row
spark = SparkSession \
    .builder \
    .appName("TransBigData") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

sc = spark.sparkContext

# API google pour traduire les mots en francais
translator = Translator()

#Bibliotheque Internationalisation
i18n.load_path.append('translations')

In [115]:
# Recuparation et epuration des donnees
df1 = spark.read \
        .option("sep", "\t") \
        .option("header", "true") \
        .csv("/home/devtool/Lab/BigData/Trans/data/imgs_vids_senegal_None_eda39a3ee_e_02_02.tsv")

# Filtrage des lignes sans donnees de geolocalisation
df2 = df1.filter(df1.latitude.isNotNull() & df1.longitude.isNotNull())

# list de colonnes a supprimer
retain_list = ['item_id', 'title', 'latitude', 'longitude', 'item_url', 'user_tags']
df3 =  df2.select([column for column in df2.columns if column  in retain_list])

In [116]:
df2.printSchema()
#df2.show()
# Change longitude and latitude field from string to float
df3 = df3.withColumn('latitude', df3['latitude'].cast(FloatType()))
df3 = df3.withColumn('longitude', df3['longitude'].cast(FloatType()))

root
 |-- item_id: string (nullable = true)
 |-- user_nsid: string (nullable = true)
 |-- user_nickname: string (nullable = true)
 |-- date_taken: string (nullable = true)
 |-- date_uploaded: string (nullable = true)
 |-- capture_device: string (nullable = true)
 |-- title: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- user_tags: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- accuracy: string (nullable = true)
 |-- item_url: string (nullable = true)
 |-- item_download_url: string (nullable = true)
 |-- license_name: string (nullable = true)
 |-- license_url: string (nullable = true)
 |-- item_server_idenfier: string (nullable = true)
 |-- _c18: string (nullable = true)
 |-- item_secret: string (nullable = true)
 |-- item_secret_orignal: string (nullable = true)
 |-- item_extension_original: string (nullable = true)
 |-- item_marker: string (nullable = true)

In [117]:
#df1.show()
df3.show()
df3.printSchema()
test=df3.collect()[1]

+----------+----------+-------------------+----------+---------+--------------------+
|   item_id|     title|          user_tags| longitude| latitude|            item_url|
+----------+----------+-------------------+----------+---------+--------------------+
| 169890474|   Senegal|africa,senegal,west|-17.138672|15.284185|http://www.flickr...|
| 169889363|   Senegal|africa,senegal,west|-17.138672|15.284185|http://www.flickr...|
| 169889618|   Senegal|africa,senegal,west|-17.138672|15.284185|http://www.flickr...|
| 169889054|   Senegal|africa,senegal,west|-17.138672|15.284185|http://www.flickr...|
|3170611706|IMG_2540-1|            senegal|-17.028809|14.509144|http://www.flickr...|
| 169889267|   Senegal|africa,senegal,west|-17.138672|15.284185|http://www.flickr...|
| 169889403|   Senegal|africa,senegal,west|-17.138672|15.284185|http://www.flickr...|
| 169890821|   Senegal|africa,senegal,west|-17.138672|15.284185|http://www.flickr...|
| 169889523|   Senegal|africa,senegal,west|-17.138672|15.284185|http://www.flickr...|
|7176343044|      null|%C3%A0frica,senegal|-14.445549|14.499449|http://www.flickr...|
| 169889475|   Senegal|africa,senegal,west|-17.138672|15.284185|http://www.flickr...|
| 169889550|   Senegal|africa,senegal,west|-17.138672|15.284185|http://www.flickr...|
| 169890140|   Senegal|africa,senegal,west|-17.138672|15.284185|http://www.flickr...|
|3161405216|  IMG_2533|            senegal|-17.028809|14.509144|http://www.flickr...|
| 169890452|   Senegal|africa,senegal,west|-17.138672|15.284185|http://www.flickr...|
| 169890383|   Senegal|africa,senegal,west|-17.138672|15.284185|http://www.flickr...|
| 169890234|   Senegal|africa,senegal,west|-17.138672|15.284185|http://www.flickr...|
| 169890556|   Senegal|africa,senegal,west|-17.138672|15.284185|http://www.flickr...|
| 169890533|   Senegal|africa,senegal,west|-17.138672|15.284185|http://www.flickr...|
| 169890338|   Senegal|africa,senegal,west|-17.138672|15.284185|http://www.flickr...|
+----------+----------+-------------------+----------+---------+--------------------+
only showing top 20 rows

root
 |-- item_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- user_tags: string (nullable = true)
 |-- longitude: float (nullable = true)
 |-- latitude: float (nullable = true)
 |-- item_url: string (nullable = true)

In [118]:
# Fonction permettant de calculer la distance entre deux points geographiques en 
# Fonction de leurs coordonnees
from math import radians, cos, sin, asin, sqrt
def haversine(lon1, lat1, lon2, lat2):
    """
    Calculate the great circle distance between two points 
    on the earth (specified in decimal degrees)
    """
    # convert decimal degrees to radians 
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])
    # haversine formula 
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a)) 
    # Radius of earth in kilometers is 6371
    km = 6371* c
    return km

# Fonction pour traduire les user_tags en Francais pour les 
# Points preselectionnees
from googletrans import Translator
def translate(list_words, dest):
    trans_words = []
    for word in list_words:
        if(i18n.t('En.{}'.format(word)).startswith('En')):
            word_trans = (translator.translate(word, dest='{}'.format(dest))).text
            try:
                fichier = open('translations/En.en.yml', 'a')
                fichier.writelines('\n  {}: {}'.format(word, word_trans))
                fichier.close()
            except:
                write("Some Error occur")
        else:
            word_trans = i18n.t("En.{}".format(word))
        trans_words.append(word_trans)
    return trans_words

In [119]:
#haversine(-17.138672,  15.0, -17.028809, 14.0)
haversine(-14.445549, 14.0, -17.138672, 15.0)

310.5095125590779

In [152]:
df4 = df3.head(8)
rdd = sc.parallelize(df4)
df4 = spark.createDataFrame(rdd, df3.schema)
item = df4.collect()[0]

In [153]:
import math
def NeighboursItem(df, item):
    alttd = None
    item_lat = float(item['latitude'])
    item_lon = float(item['longitude'])
    lgd = None
    neigh = []
    for i in range(0, df.count()):
        lat = float(df.select('latitude').collect()[i][0])
        lon = float(df.select('longitude').collect()[i][0])
        if(haversine(item_lon, item_lat, lon, lat) < 1.5) :
            neigh.append(df.collect()[i])
        i+=1
    return neigh

In [154]:

df5 = NeighboursItem(df4, item)
rdd = sc.parallelize(df5)
df5 = spark.createDataFrame(rdd, df3.schema)
#df5.coalesce(1).write.format('json').save('../../data/data.json')